# See https://docs.docker.com/engine/reference/builder/#dockerignore-file for more about ignoring files.

# Ignore git directory.
/.git/
/.gitignore

/client/build
/client/src/env.gleam

# Ignore bundler config.
/server/.bundle

# Ignore all environment files.
/.env*

# Ignore all default key files.
/server/config/master.key
/server/config/credentials/*.key

# Ignore all logfiles and tempfiles.
/server/log/*
/server/tmp/*
!/server/log/.keep
!/server/tmp/.keep

# Ignore pidfiles, but keep the directory.
/server/tmp/pids/*
!/server/tmp/pids/.keep

# Ignore storage (uploaded files in development and any SQLite databases).
/server/storage/*
!/server/storage/.keep
/server/tmp/storage/*
!/server/tmp/storage/.keep

# Ignore CI service files.
/.github

# Ignore Kamal files.
/server/config/deploy*.yml
/server/.kamal

# Ignore development files
/server/.devcontainer

# Ignore Docker-related files
/.dockerignore
/Dockerfile*
